openapi: 3.0.3
info:
  title: Dakota Platform API
  version: 1.0.0
  description: |-
    Combined API specification for Dakota Platform services:
    - Issuance API: Asset minting and burning operations
    - Onboarding API: Know Your Business/Customer verification
    - On/Off Ramp API: Managing on-ramp and off-ramp accounts
    - Recipients API: Managing destinations for KYB'd entities
    - Transactions API: Viewing transaction history across platform operations

    ## Authentication and API Headers

    All API endpoints require the following headers:

    - `x-idempotency-key`: Required for all POST endpoints to ensure request idempotency
    - `x-api-key`: Required for authentication across all endpoints

    Note: On /applications endpoints you need a token for authentication instead of a x-api-key
    - `x-application-token`: Required for authentication on public /applications endpoints (alternative to `x-api-key` where documented)


    ## Rate Limits

    Requests are rate limited per API key. Every response includes the following headers:

    | Header | Description |
    | --- | --- |
    | `X-RateLimit-Limit` | Maximum requests allowed in the current one-minute window. |
    | `X-RateLimit-Remaining` | Requests remaining in the current window. |
    | `X-RateLimit-Reset` | Absolute Unix timestamp (seconds since epoch) when the current rate-limit window resets. |

    When a request is throttled (`429`), responses also include `Retry-After` with seconds to wait before retrying.
servers:
  - url: https://api.platform.dakota.xyz
    description: Production environment
  - url: https://api.platform.sandbox.dakota.xyz
    description: Sandbox — safe for testing with simulated data
security:
  - ApiKeyAuth: []
tags:
  - name: Customers
    description: |-
      Manage customer entities representing businesses and organizations onboarded to Dakota.

      **Prerequisites:** Complete KYB via Onboarding endpoints before initiating money movement.
      **Related:** Onboarding, Recipients, Transactions, Accounts, Wallets
  - name: Wallets
    description: |-
      Manage wallets, balances, and wallet-to-signer-group relationships for custody and movement controls.

      **Prerequisites:** Customer must exist. Configure signer groups before policy-enforced workflows.
      **Related:** Signer Groups, Policies, Transactions, Customers
  - name: Transactions
    description: |-
      Create, cancel, and retrieve transaction records across account and wallet flows.

      **Prerequisites:** Accounts or destinations must be configured based on flow type.
      **Related:** Accounts, Recipients, Policies, Events
  - name: Recipients
    description: |-
      Manage recipient entities and destination rails used by customers for payouts and transfers.

      **Prerequisites:** Customer must be onboarded and active.
      **Related:** Customers, Transactions, Accounts, Onboarding
  - name: Accounts
    description: |-
      Manage account resources used for onramp, offramp, and swap operations.

      **Prerequisites:** Customer must be created and network/asset constraints must be known.
      **Related:** Customers, Transactions, Auto Transactions, Info
  - name: Auto Transactions
    description: |-
      Manage automated transaction configurations and execution history for account automation workflows.

      **Prerequisites:** Source account must exist and be configured for automation.
      **Related:** Accounts, Transactions, Events
  - name: Onboarding
    description: |-
      Manage KYB/KYC onboarding lifecycle, application documents, attestations, and verification steps.

      **Prerequisites:** Customer context and required entity/application metadata.
      **Related:** Customers, Exceptions, Recipients, Transactions
  - name: Policies
    description: |-
      Define and manage policy objects and rules used for transaction governance and risk controls.

      **Prerequisites:** Wallet and signer group resources should be configured for enforcement scenarios.
      **Related:** Wallets, Signer Groups, Transactions
  - name: Signer Groups
    description: |-
      Manage signer groups and signer assignments for multi-party authorization models.

      **Prerequisites:** Wallets should exist before linking signer groups.
      **Related:** Wallets, Policies, Transactions
  - name: Authentication
    description: |-
      Manage API authentication credentials and key lifecycle for platform access.

      **Prerequisites:** Client organization must be provisioned.
      **Related:** Users, Info
  - name: Users
    description: |-
      Manage client users, roles, and identity metadata for platform access control.

      **Prerequisites:** Auth credentials and client context must be established.
      **Related:** Authentication
  - name: Webhooks
    description: |-
      Manage outbound webhook targets and delivery configuration for event notifications.

      **Prerequisites:** Subscriber endpoint must be reachable and secured.
      **Related:** Events, Authentication
  - name: Events
    description: |-
      Retrieve event records emitted by platform operations for audit and troubleshooting.

      **Prerequisites:** Requesting client must have access to referenced resources.
      **Related:** Webhooks, Transactions, Onboarding
  - name: Info
    description: |-
      Read platform capability metadata, such as supported rails, networks, and assets.

      **Prerequisites:** Valid authentication headers.
      **Related:** Accounts, Transactions
  - name: Sandbox
    description: |-
      Trigger sandbox-only simulation endpoints for safe end-to-end integration testing with synthetic data.

      **Prerequisites:** Sandbox environment and test customer data.
      **Related:** Customers, Accounts, Transactions, Onboarding
paths:
  /customers:
    post:
      tags:
        - Customers
      summary: Create a customer record
      description: Creates a new customer for the authenticated client and returns the created customer record.
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
            example:
              name: Acme Corporation
              customer_type: business
              external_id: external_customer_123
      responses:
        '201':
          description: Customer record successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                kyb_links:
                  - provider_id: trm_labs
                    link_type: persona
                    url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                    status: pending
                    created_at: 1234567890
                    updated_at: 1234567890
                    expires_at: 1234567890
                    deleted_at: 1234567890
                application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                application_url: https://apply.dakota.com/applications/2WGC9cKv9P4K8eGzqY6qJ3Xz7Qm?token=kJ8xN3zQ9mL2pR5vY7wC1aF4dG6hK0sT8uW3nB5eM9
                application_expires_at: 1734567890000000000
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/create-a-customer-record
    get:
      tags:
        - Customers
      summary: List all customer records
      description: Returns a paginated list of customers for the authenticated client. Supports cursor pagination and optional `external_id` or `search` filters.
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: external_id
          in: query
          description: Filter customers by external ID
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Search customers by name, email, or customer ID (case-insensitive)
          required: false
          schema:
            type: string
        - name: kyb_status
          in: query
          description: Filter customers by KYB status
          required: false
          schema:
            $ref: '#/components/schemas/KybStatus'
      responses:
        '200':
          description: List of all customer records
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/Meta'
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    name: Acme Corp
                    email: contact@acmecorp.com
                    customer_type: business
                    kyb_status: pending
                    kyb_links:
                      - provider_id: trm_labs
                        link_type: persona
                        url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                        status: pending
                        created_at: 1234567890
                        updated_at: 1234567890
                        expires_at: 1234567890
                        deleted_at: 1234567890
                    provider_statuses:
                      - provider_id: trm_labs
                        status: approved
                        endorsements:
                          - string
                    application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    decision: approved
                    application_url: https://onboarding.example.com/applications/abc123?token=xyz789
                    created_at: 1234567890
                    updated_at: 1234567890
                    deleted_at: 1234567890
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/list-all-customer-records
  /customers/{customer_id}:
    get:
      tags:
        - Customers
      summary: Retrieve a customer record by ID
      description: Retrieves a single customer by `customer_id` for the authenticated client.
      operationId: getCustomer
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Unique identifier (ksuid) of the customer record
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: Customer record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corp
                email: contact@acmecorp.com
                customer_type: business
                kyb_status: pending
                kyb_links:
                  - provider_id: trm_labs
                    link_type: persona
                    url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                    status: pending
                    created_at: 1234567890
                    updated_at: 1234567890
                    expires_at: 1234567890
                    deleted_at: 1234567890
                provider_statuses:
                  - provider_id: trm_labs
                    status: approved
                    endorsements:
                      - string
                application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                decision: approved
                application_url: https://onboarding.example.com/applications/abc123?token=xyz789
                created_at: 1234567890
                updated_at: 1234567890
                deleted_at: 1234567890
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Customer not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Customer not found
                status: 404
                detail: Customer not found
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/retrieve-a-customer-record-by-id
  /wallets:
    post:
      tags:
        - Wallets
      summary: Create a new wallet
      description: Creates a wallet under a customer and returns the wallet configuration used for custody and transaction flows.
      operationId: createWallet
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreateRequest'
            example:
              customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              signer_groups:
                - string
              policies:
                - string
              family: evm
              name: string
      responses:
        '201':
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                client_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                family: evm
                address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                name: My Wallet
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not Found
                status: 404
                detail: Not Found
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict - duplicate request detected
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Conflict - duplicate request detected
                status: 409
                detail: Conflict - duplicate request detected
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Service unavailable
                status: 503
                detail: Service unavailable
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/create-a-new-wallet
  /wallets/{wallet_id}/balances:
    get:
      tags:
        - Wallets
      summary: Get wallet balances across all networks
      description: Returns current wallet balances grouped by asset and network for the specified wallet.
      operationId: getWalletBalances
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: Wallet balances retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalances'
              example:
                wallet_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                balances:
                  - asset:
                      id: USDC
                      name: USD Coin
                      network_id: ethereum-mainnet
                      contract_address: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
                      token_standard: erc20
                      decimals: 6
                    amount_usd: '123.45'
                total_amount_usd: '1234.56'
        '400':
          description: Bad request - invalid wallet ID
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid wallet ID
                status: 400
                detail: Bad request - invalid wallet ID
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Wallet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Wallet not found
                status: 404
                detail: Wallet not found
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/get-wallet-balances-across-all-networks
  /wallets/{wallet_id}/transactions:
    post:
      tags:
        - Wallets
      summary: Send a transaction from a wallet
      description: Creates a new outbound transaction from the specified wallet. Policy and signer checks may affect the resulting transaction state.
      operationId: createWalletTransaction
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndorsedRequest'
            example:
              signatures:
                - LS0tLS1CRUdJ...0tLS0tCg==
              intent:
                wallet_id: string
                caip2: string
                operation:
                  kind: string
                  from: string
                  to: string
                  amount: string
                  asset_id: USDC
                  method: string
                  args:
                    - string
                  data: string
                idempotency_key: string
      responses:
        '200':
          description: Transaction sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransaction'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                wallet_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                network_id: ethereum-mainnet
                from: string
                to: string
                transaction_hash: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                transaction_type: transfer
                amount: '100.56'
                asset: USD
                status: timed_out
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not Found
                status: 404
                detail: Not Found
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict - duplicate request detected
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Conflict - duplicate request detected
                status: 409
                detail: Conflict - duplicate request detected
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Service unavailable
                status: 503
                detail: Service unavailable
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/send-a-transaction-from-a-wallet
  /transactions:
    post:
      tags:
        - Transactions
      summary: Create a transaction
      description: Create a transaction resource.
      operationId: createTransaction
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Transaction details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneOffTransactionRequest'
            example:
              transaction_type: one_off
              amount: '1.23'
              customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              source_network_id: ethereum-mainnet
              source_asset: USDC
              destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              destination_network_id: ethereum-mainnet
              destination_asset: USD
              destination_payment_rail: ach
              payment_reference: Invoice payment for services
      responses:
        '201':
          description: One-off transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffTransaction'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                send_amount: '1.24'
                status: pending
                amount: '1.23'
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                destination_asset: USD
                failure_reason: string
                receipt:
                  imad: string
                  omad: string
                  input:
                    amount: string
                    asset: string
                    network: string
                  subtotal:
                    amount: string
                    asset: string
                    network: string
                  converted:
                    amount: string
                    asset: string
                    network: string
                  output:
                    amount: string
                    asset: string
                    network: string
                  exchange_rate: string
                  external_fee:
                    amount: string
                    asset: string
                    network: string
                  dakota_fee:
                    amount: string
                    asset: string
                    network: string
                  client_fee:
                    amount: string
                    asset: string
                    network: string
                  gas_fee:
                    amount: string
                    asset: string
                    network: string
                  payment_reference: Invoice payment for services
                crypto_details:
                  source_crypto_address: string
                  source_network_id: ethereum-mainnet
                  destination_crypto_address: string
                  destination_network_id: ethereum-mainnet
                  deposit_transaction_hash: string
                  transaction_hash: string
                created_at: 1234567890
                updated_at: 1234567890
                completed_at: 1234567890
                destination_payment_rail: ach
                payment_reference: string
                destination_bank_name: Chase Bank
                destination_account_holder_name: Acme Corporation
                destination_account_number_last_four: '6789'
                destination_routing_number: '021000021'
                destination_iban: GB82WEST12345698765432
                destination_bic: BARCGB22XXX
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Resource not found
                status: 404
                detail: Resource not found
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '422':
          description: Unprocessable entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#validation-error
                title: Unprocessable entity
                status: 422
                detail: Unprocessable entity
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/create-a-transaction
    get:
      tags:
        - Transactions
      summary: List transactions
      description: List transactions across supported transaction resource families.
      operationId: listTransactions
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: transaction_type
          in: query
          description: Filter by transaction resource family.
          required: false
          schema:
            $ref: '#/components/schemas/TransactionResourceType'
        - name: customer_id
          in: query
          description: Filter transactions by customer ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: destination_id
          in: query
          description: Filter transactions by destination ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: status
          in: query
          description: Filter one-off transactions by status.
          required: false
          schema:
            $ref: '#/components/schemas/OneOffTransactionStatus'
        - name: source_network_id
          in: query
          description: Filter one-off transactions by source network ID.
          required: false
          schema:
            $ref: '#/components/schemas/NetworkId'
        - name: source_asset
          in: query
          description: Filter one-off transactions by source asset.
          required: false
          schema:
            type: string
        - name: destination_asset
          in: query
          description: Filter one-off transactions by destination asset.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransactionResourceResponse'
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                    send_amount: '1.24'
                    status: pending
                    amount: '1.23'
                    source_network_id: ethereum-mainnet
                    source_asset: USDC
                    destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_asset: USD
                    failure_reason: string
                    receipt:
                      imad: string
                      omad: string
                      input:
                        amount: string
                        asset: string
                        network: string
                      subtotal:
                        amount: string
                        asset: string
                        network: string
                      converted:
                        amount: string
                        asset: string
                        network: string
                      output:
                        amount: string
                        asset: string
                        network: string
                      exchange_rate: string
                      external_fee:
                        amount: string
                        asset: string
                        network: string
                      dakota_fee:
                        amount: string
                        asset: string
                        network: string
                      client_fee:
                        amount: string
                        asset: string
                        network: string
                      gas_fee:
                        amount: string
                        asset: string
                        network: string
                      payment_reference: Invoice payment for services
                    crypto_details:
                      source_crypto_address: string
                      source_network_id: ethereum-mainnet
                      destination_crypto_address: string
                      destination_network_id: ethereum-mainnet
                      deposit_transaction_hash: string
                      transaction_hash: string
                    created_at: 1234567890
                    updated_at: 1234567890
                    completed_at: 1234567890
                    destination_payment_rail: ach
                    payment_reference: string
                    destination_bank_name: Chase Bank
                    destination_account_holder_name: Acme Corporation
                    destination_account_number_last_four: '6789'
                    destination_routing_number: '021000021'
                    destination_iban: GB82WEST12345698765432
                    destination_bic: BARCGB22XXX
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/list-transactions
  /transactions/{transaction_id}:
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the transaction.
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Transactions
      summary: Get a transaction
      description: Retrieves a single transaction by `transaction_id`, including lifecycle status and provider metadata when available.
      operationId: getTransaction
      responses:
        '200':
          description: Transaction details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResource'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                send_amount: '1.24'
                status: pending
                amount: '1.23'
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                destination_asset: USD
                failure_reason: string
                receipt:
                  imad: string
                  omad: string
                  input:
                    amount: string
                    asset: string
                    network: string
                  subtotal:
                    amount: string
                    asset: string
                    network: string
                  converted:
                    amount: string
                    asset: string
                    network: string
                  output:
                    amount: string
                    asset: string
                    network: string
                  exchange_rate: string
                  external_fee:
                    amount: string
                    asset: string
                    network: string
                  dakota_fee:
                    amount: string
                    asset: string
                    network: string
                  client_fee:
                    amount: string
                    asset: string
                    network: string
                  gas_fee:
                    amount: string
                    asset: string
                    network: string
                  payment_reference: Invoice payment for services
                crypto_details:
                  source_crypto_address: string
                  source_network_id: ethereum-mainnet
                  destination_crypto_address: string
                  destination_network_id: ethereum-mainnet
                  deposit_transaction_hash: string
                  transaction_hash: string
                created_at: 1234567890
                updated_at: 1234567890
                completed_at: 1234567890
                destination_payment_rail: ach
                payment_reference: string
                destination_bank_name: Chase Bank
                destination_account_holder_name: Acme Corporation
                destination_account_number_last_four: '6789'
                destination_routing_number: '021000021'
                destination_iban: GB82WEST12345698765432
                destination_bic: BARCGB22XXX
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/get-a-transaction
  /transactions/{transaction_id}/cancellations:
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the transaction.
        schema:
          $ref: '#/components/schemas/KSUID'
    post:
      tags:
        - Transactions
      summary: Cancel a transaction
      description: Create a cancellation event for a cancellable transaction.
      operationId: createTransactionCancellation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      responses:
        '204':
          description: Transaction cancelled successfully.
        '400':
          description: Invalid request or transaction cannot be cancelled.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request or transaction cannot be cancelled.
                status: 400
                detail: Invalid request or transaction cannot be cancelled.
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/cancel-a-transaction
  /recipients/{recipient_id}:
    parameters:
      - name: recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    put:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Recipients
      summary: Update a recipient
      description: Update a recipient's details
      operationId: updateRecipient
      requestBody:
        description: Updated recipient details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientRequest'
            example:
              name: Acme Corporation
              address:
                street1: 123 Main St
                street2: Apt 4B
                street3: Building C
                city: San Francisco
                region: California
                postal_code: '94105'
                country: US
      responses:
        '200':
          description: Recipient updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corporation
                address:
                  street1: 123 Main St
                  street2: Apt 4B
                  street3: Building C
                  city: San Francisco
                  region: California
                  postal_code: '94105'
                  country: US
                status: active
                destinations:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/update-a-recipient
    get:
      tags:
        - Recipients
      summary: Get a specific recipient
      description: Get details for a specific recipient by ID
      operationId: getRecipient
      responses:
        '200':
          description: Recipient details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corporation
                address:
                  street1: 123 Main St
                  street2: Apt 4B
                  street3: Building C
                  city: San Francisco
                  region: California
                  postal_code: '94105'
                  country: US
                status: active
                destinations:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/get-a-specific-recipient
  /customers/{customer_id}/recipients:
    parameters:
      - name: customer_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    post:
      tags:
        - Recipients
      summary: Create a new recipient
      description: Create a new recipient for a given customer
      operationId: createRecipient
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Recipient details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientRequest'
            example:
              name: Acme Corporation
              address:
                street1: 123 Main St
                street2: Apt 4B
                street3: Building C
                city: San Francisco
                region: California
                postal_code: '94105'
                country: US
      responses:
        '201':
          description: Recipient created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corporation
                address:
                  street1: 123 Main St
                  street2: Apt 4B
                  street3: Building C
                  city: San Francisco
                  region: California
                  postal_code: '94105'
                  country: US
                status: active
                destinations:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/create-a-new-recipient
    get:
      tags:
        - Recipients
      summary: List all recipients
      description: Get a list of all recipients for the given customer ID
      operationId: listRecipients
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
      responses:
        '200':
          description: List of recipients
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RecipientResponse'
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    name: Acme Corporation
                    address:
                      street1: 123 Main St
                      street2: Apt 4B
                      street3: Building C
                      city: San Francisco
                      region: California
                      postal_code: '94105'
                      country: US
                    status: active
                    destinations:
                      - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                        destination_type: crypto
                        name: My Ethereum Wallet
                        crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                        family: evm
                        network_id: ethereum-mainnet
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/customers/example-id/recipients
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/list-all-recipients
  /recipients/{recipient_id}/destinations:
    parameters:
      - name: recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    post:
      tags:
        - Recipients
      summary: Add a destination for a recipient
      description: Create a new destination for a recipient. The destination type (crypto, fiat_us, fiat_iban) is determined by the destination_type field in the request body.
      operationId: createDestination
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        description: Destination details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestinationRequestUnion'
            example:
              destination_type: crypto
              name: My Ethereum Wallet
              crypto_address: '0x1234'
              network_id: ethereum-mainnet
      responses:
        '201':
          description: Destination created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/add-a-destination-for-a-recipient
    get:
      tags:
        - Recipients
      summary: List destinations
      description: Get a list of destinations for this recipient
      operationId: listDestinations
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - name: destination_type
          in: query
          description: Filter destinations by type.
          required: false
          schema:
            type: string
            enum:
              - crypto
              - fiat_us
              - fiat_iban
      responses:
        '200':
          description: List of destinations matching the filter criteria.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedListResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DestinationResponseUnion'
              example:
                data:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id/destinations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/list-destinations
  /accounts:
    post:
      tags:
        - Accounts
      summary: Create an account
      description: Create a new onramp, offramp, or swap account.
      operationId: createAccount
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
            example:
              account_type: onramp
              capabilities:
                - ach
                - fedwire
              rail: ach
              crypto_destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              fiat_destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              destination_network_id: ethereum-mainnet
              source_network_id: ethereum-mainnet
              source_asset: USDC
              destination_asset: USDC
              return_address:
                network_id: ethereum-mainnet
                crypto_address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
              return_crypto_address:
                network_id: ethereum-mainnet
                crypto_address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
              developer_fee_bps: 50
      responses:
        '201':
          description: Account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                account_type: onramp
                bank_account:
                  id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                  capabilities:
                    - ach
                    - fedwire
                  aba_routing_number: '123456789'
                  aba_wire_routing_number: '123456789'
                  account_number: '123456789'
                  account_type: checking
                  bic: DEUTDEFFXXX
                  iban: DE89370400440532013000
                  account_holder_name: John Doe
                  account_holder_address:
                    street1: 123 Main St
                    street2: Apt 4B
                    street3: Building C
                    city: San Francisco
                    region: California
                    postal_code: '94105'
                    country: US
                  account_holder_phone: '1234567890'
                  bank_name: Bank of America
                  bank_address:
                    street1: 123 Main St
                    street2: Apt 4B
                    street3: Building C
                    city: San Francisco
                    region: California
                    postal_code: '94105'
                    country: US
                  bank_phone: '+12345678900'
                destination:
                  destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                  destination_type: crypto
                  name: My Ethereum Wallet
                  crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                  family: evm
                  network_id: ethereum-mainnet
                source_crypto_address: '0x1234'
                source_family: evm
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_asset: USDC
                rail: ach
                destination_rail: ach
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Conflict
                status: 409
                detail: Conflict
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '501':
          description: Not implemented
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-implemented
                title: Not implemented
                status: 501
                detail: Not implemented
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '502':
          description: Provider error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#provider-error
                title: Provider error
                status: 502
                detail: Provider error
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Service unavailable
                status: 503
                detail: Service unavailable
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/accounts/create-an-account
    get:
      tags:
        - Accounts
      summary: List accounts
      description: List onramp, offramp, or swap accounts filtered by account type.
      operationId: listAccounts
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - name: account_type
          in: query
          description: Account family to list.
          required: true
          schema:
            $ref: '#/components/schemas/AccountType'
        - name: customer_id
          in: query
          description: Filter accounts by customer ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: source_network_id
          in: query
          description: Filter accounts by source network ID.
          required: false
          schema:
            type: string
            example: ethereum-mainnet
        - name: destination_network_id
          in: query
          description: Filter accounts by destination network ID.
          required: false
          schema:
            type: string
            example: ethereum-mainnet
        - name: destination_asset
          in: query
          description: Filter accounts by destination asset.
          required: false
          schema:
            type: string
            example: USDC
        - name: crypto_destination_id
          in: query
          description: Filter accounts by crypto destination ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: fiat_destination_id
          in: query
          description: Filter accounts by fiat destination ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: List of matching account resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccountResponse'
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    account_type: onramp
                    bank_account:
                      id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                      capabilities:
                        - ach
                        - fedwire
                      aba_routing_number: '123456789'
                      aba_wire_routing_number: '123456789'
                      account_number: '123456789'
                      account_type: checking
                      bic: DEUTDEFFXXX
                      iban: DE89370400440532013000
                      account_holder_name: John Doe
                      account_holder_address:
                        street1: 123 Main St
                        street2: Apt 4B
                        street3: Building C
                        city: San Francisco
                        region: California
                        postal_code: '94105'
                        country: US
                      account_holder_phone: '1234567890'
                      bank_name: Bank of America
                      bank_address:
                        street1: 123 Main St
                        street2: Apt 4B
                        street3: Building C
                        city: San Francisco
                        region: California
                        postal_code: '94105'
                        country: US
                      bank_phone: '+12345678900'
                    destination:
                      destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                      destination_type: crypto
                      name: My Ethereum Wallet
                      crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                      family: evm
                      network_id: ethereum-mainnet
                    source_crypto_address: '0x1234'
                    source_family: evm
                    source_network_id: ethereum-mainnet
                    source_asset: USDC
                    destination_asset: USDC
                    rail: ach
                    destination_rail: ach
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/accounts
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/accounts/list-accounts
  /accounts/{account_id}:
    parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    patch:
      tags:
        - Accounts
      summary: Update an account
      description: Partially update an onramp, offramp, or swap account.
      operationId: updateAccount
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
            example:
              account_type: onramp
              crypto_destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              fiat_destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              destination_network_id: ethereum-mainnet
              destination_asset: USDC
      responses:
        '200':
          description: Account updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                account_type: onramp
                bank_account:
                  id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                  capabilities:
                    - ach
                    - fedwire
                  aba_routing_number: '123456789'
                  aba_wire_routing_number: '123456789'
                  account_number: '123456789'
                  account_type: checking
                  bic: DEUTDEFFXXX
                  iban: DE89370400440532013000
                  account_holder_name: John Doe
                  account_holder_address:
                    street1: 123 Main St
                    street2: Apt 4B
                    street3: Building C
                    city: San Francisco
                    region: California
                    postal_code: '94105'
                    country: US
                  account_holder_phone: '1234567890'
                  bank_name: Bank of America
                  bank_address:
                    street1: 123 Main St
                    street2: Apt 4B
                    street3: Building C
                    city: San Francisco
                    region: California
                    postal_code: '94105'
                    country: US
                  bank_phone: '+12345678900'
                destination:
                  destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                  destination_type: crypto
                  name: My Ethereum Wallet
                  crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                  family: evm
                  network_id: ethereum-mainnet
                source_crypto_address: '0x1234'
                source_family: evm
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_asset: USDC
                rail: ach
                destination_rail: ach
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
[...]
