openapi: 3.0.3
info:
  title: Dakota Platform API
  version: 1.0.0
  description: |-
    Combined API specification for Dakota Platform services:
    - Issuance API: Asset minting and burning operations
    - Onboarding API: Know Your Business/Customer verification
    - On/Off Ramp API: Managing on-ramp and off-ramp accounts
    - Recipients API: Managing destinations for KYB'd entities
    - Transactions API: Viewing transaction history across platform operations

    ## Authentication and API Headers

    All API endpoints require the following headers:

    - `x-idempotency-key`: Required for all POST endpoints to ensure request idempotency
    - `x-api-key`: Required for authentication across all endpoints

    Note: On /applications endpoints you need a token for authentication instead of a x-api-key
    - `x-application-token`: Required for authentication on public /applications endpoints (alternative to `x-api-key` where documented)


    ## Rate Limits

    Requests are rate limited per API key. Every response includes the following headers:

    | Header | Description |
    | --- | --- |
    | `X-RateLimit-Limit` | Maximum requests allowed in the current one-minute window. |
    | `X-RateLimit-Remaining` | Requests remaining in the current window. |
    | `X-RateLimit-Reset` | Absolute Unix timestamp (seconds since epoch) when the current rate-limit window resets. |

    When a request is throttled (`429`), responses also include `Retry-After` with seconds to wait before retrying.
servers:
  - url: https://api.platform.dakota.xyz
    description: Production environment
  - url: https://api.platform.sandbox.dakota.xyz
    description: Sandbox — safe for testing with simulated data
security:
  - ApiKeyAuth: []
tags:
  - name: Agentic Payments
    x-alpha: true
    description: |-
      Alpha — agent-driven payments: provision agents, draft and approve spending mandates, accept reviewed instructions, and manage scheduled payments.

      **Prerequisites:** Customer onboarded; signer groups attached for recognition.
      **Related:** Wallets, Signer Groups, Transactions
  - name: Mandates
    x-alpha: true
    description: |-
      Alpha — spending mandates: signed, signer-bound authorizations governing what may be spent, approved or cancelled by a second recognized signer (§8 — the dual-control rule that every mandate mutation must be signed by a recognized signer OTHER than the bound one). Independent of agents and scheduled payments.

      **Prerequisites:** Signer groups attached for recognition.
      **Related:** Signer Groups, Transactions
  - name: Insights
    x-alpha: true
    description: |-
      Alpha — read-only account insight: a deterministic report over a customer's agentic activity (funding balances, upcoming obligations, failures, mandate headroom and expiry) plus an advisory chat that narrates it. Never moves money, never creates or changes anything.

      **Prerequisites:** Customer onboarded; insight is computed from the customer's scheduled payments, mandates, and wallets.
      **Related:** Agentic Payments, Mandates
  - name: Customers
    description: |-
      Manage customer entities representing businesses and organizations onboarded to Dakota.

      **Prerequisites:** Complete KYB via Onboarding endpoints before initiating money movement.
      **Related:** Onboarding, Recipients, Transactions, Accounts, Wallets
  - name: Wallets
    description: |-
      Manage wallets, balances, and wallet-to-signer-group relationships for custody and movement controls.

      **Prerequisites:** Customer must exist. Configure signer groups before policy-enforced workflows.
      **Related:** Signer Groups, Policies, Transactions, Customers
  - name: Transactions
    description: |-
      Create, cancel, and retrieve transaction records across account and wallet flows.

      **Prerequisites:** Accounts or destinations must be configured based on flow type.
      **Related:** Accounts, Recipients, Policies, Events
  - name: Recipients
    description: |-
      Manage recipient entities and destination rails used by customers for payouts and transfers.

      **Prerequisites:** Customer must be onboarded and active.
      **Related:** Customers, Transactions, Accounts, Onboarding
  - name: Accounts
    description: |-
      Manage account resources used for onramp, offramp, and swap operations.

      **Prerequisites:** Customer must be created and network/asset constraints must be known.
      **Related:** Customers, Transactions, Auto Transactions, Info
  - name: Auto Transactions
    description: |-
      Manage automated transaction configurations and execution history for account automation workflows.

      **Prerequisites:** Source account must exist and be configured for automation.
      **Related:** Accounts, Transactions, Events
  - name: Onboarding
    description: |-
      Manage KYB/KYC onboarding lifecycle, application documents, attestations, and verification steps.

      **Prerequisites:** Customer context and required entity/application metadata.
      **Related:** Customers, Exceptions, Recipients, Transactions
  - name: Policies
    description: |-
      Define and manage policy objects and rules used for transaction governance and risk controls.

      **Prerequisites:** Wallet and signer group resources should be configured for enforcement scenarios.
      **Related:** Wallets, Signer Groups, Transactions
  - name: Signer Groups
    description: |-
      Manage signer groups and signer assignments for multi-party authorization models.

      **Prerequisites:** Wallets should exist before linking signer groups.
      **Related:** Wallets, Policies, Transactions
  - name: Authentication
    description: |-
      Manage API authentication credentials and key lifecycle for platform access.

      **Prerequisites:** Client organization must be provisioned.
      **Related:** Users, Info
  - name: Users
    description: |-
      Manage client users, roles, and identity metadata for platform access control.

      **Prerequisites:** Auth credentials and client context must be established.
      **Related:** Authentication
  - name: Webhooks
    description: |-
      Manage outbound webhook targets and delivery configuration for event notifications.

      **Prerequisites:** Subscriber endpoint must be reachable and secured.
      **Related:** Events, Authentication
  - name: Payouts
    description: |-
      Manage where Dakota sends your accrued developer-fee payouts.

      **Prerequisites:** Auth credentials and client context must be established.
      **Related:** Events
  - name: Events
    description: |-
      Retrieve event records emitted by platform operations for audit and troubleshooting.

      **Prerequisites:** Requesting client must have access to referenced resources.
      **Related:** Webhooks, Transactions, Onboarding
  - name: Info
    description: |-
      Read platform capability metadata, such as supported rails, networks, and assets.
      These operations are served under `/capabilities/*` - `GET /capabilities/countries`
      and `GET /capabilities/networks`. The tag name does not appear in the request paths.

      **Prerequisites:** Valid authentication headers.
      **Related:** Accounts, Transactions
  - name: Sandbox
    description: |-
      Trigger sandbox-only simulation endpoints for safe end-to-end integration testing with synthetic data. The sandbox host (`https://api.platform.sandbox.dakota.xyz`) also accepts a family of `X-Sandbox-*` request headers on most write endpoints (`Customers`, `Accounts`, `Transactions`, simulate endpoints) that let integrators drive deterministic failure modes — pick a preset via `X-Sandbox-Scenario`, or compose a custom one with `X-Sandbox-Error-Step`/`X-Sandbox-Error-Status`/`X-Sandbox-Error-Message`. `X-Sandbox-Instant-Completion` collapses async flows to a single synchronous step, and `X-Sandbox-Skip-Auto-Approval` keeps newly created KYB applications in `pending` for manual-review testing. All `X-Sandbox-*` headers are ignored in production.

      **Prerequisites:** Sandbox environment and test customer data.
      **Related:** Customers, Accounts, Transactions, Onboarding
  - name: Legal
    description: |-
      The legal documents customers accept — terms of service, privacy policy,
      e-sign notice, and partner agreements.

      Dakota publishes these here, and this is the authoritative source: the
      hosted onboarding flow, the dakota.xyz website, and your own integration
      all read the same revisions. Present the current revision to your customer
      before capturing their acceptance so the record reflects the text they
      actually saw.
paths:
  /customers:
    post:
      tags:
        - Customers
      summary: Create a customer record
      description: Creates a new customer for the authenticated client and returns the created customer record.
      operationId: createCustomer
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/SandboxScenarioHeader'
        - $ref: '#/components/parameters/SandboxErrorStepHeader'
        - $ref: '#/components/parameters/SandboxErrorStatusHeader'
        - $ref: '#/components/parameters/SandboxErrorMessageHeader'
        - $ref: '#/components/parameters/SandboxSkipAutoApprovalHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
            example:
              name: Acme Corporation
              customer_type: business
              external_id: external_customer_123
      responses:
        '201':
          description: Customer record successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCreateResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                kyb_links:
                  - provider_id: trm_labs
                    link_type: persona
                    url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                    status: pending
                    created_at: 1234567890
                    updated_at: 1234567890
                    expires_at: 1234567890
                    deleted_at: 1234567890
                application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                application_url: https://apply.dakota.com/applications/2WGC9cKv9P4K8eGzqY6qJ3Xz7Qm?token=kJ8xN3zQ9mL2pR5vY7wC1aF4dG6hK0sT8uW3nB5eM9
                application_expires_at: 1734567890000000000
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/create-a-customer-record
    get:
      tags:
        - Customers
      summary: List all customer records
      description: Returns a paginated list of customers for the authenticated client. Supports cursor pagination and optional `external_id` or `search` filters.
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: external_id
          in: query
          description: Filter customers by external ID
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Search customers by name, email, or customer ID (case-insensitive)
          required: false
          schema:
            type: string
        - name: kyb_status
          in: query
          description: Filter customers by KYB status (single value).
          required: false
          schema:
            $ref: '#/components/schemas/KybStatus'
        - name: kyb_statuses
          in: query
          description: Filter customers by one or more KYB statuses. Comma-separated list (e.g. `active,frozen`).
          required: false
          schema:
            type: string
        - name: kyc_statuses
          in: query
          description: |
            Filter customers by one or more effective KYC/B link statuses.
            Comma-separated list (e.g. `pending,in_review`). Values mirror
            the `KybLinkStatus` enum (`not_started`, `pending`, `in_review`,
            `approved`, `expired`, `rejected`).
          required: false
          schema:
            type: string
        - name: application_statuses
          in: query
          description: |
            Filter customers by one or more onboarding application statuses.
            Comma-separated list (e.g. `submitted,under_review`). Values
            mirror the `ApplicationStatus` enum. Customers without an
            application are excluded when this filter is set.
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: |
            Filter customers by one or more unified customer statuses.
            Comma-separated list (e.g. `frozen,info_requested`). Values mirror
            the `CustomerStatus` enum (`frozen`, `declined`, `withdrawn`,
            `approved`, `info_requested`, `submitted`, `pending`).

            This is the single client-facing status that the dashboard shows,
            filters, and counts by. It collapses the frozen state, the
            application decision, and the application lifecycle into one value
            (see the `status` field on `Customer` for the precedence).
          required: false
          schema:
            type: string
        - name: sub_client_id
          in: query
          description: Filter customers by sub-client association. Returns only customers associated with the specified sub-client.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: is_sub_client
          in: query
          description: When true, returns only customers that are sub-clients (designated as such at creation). When false or omitted, returns all customers.
          required: false
          schema:
            type: boolean
        - name: sort_by
          in: query
          description: Field to sort customers by. Defaults to `name`.
          required: false
          schema:
            type: string
            enum:
              - application_status
              - created_at
              - customer_type
              - id
              - kyb_status
              - kyc_status
              - name
              - status
        - name: sort_dir
          in: query
          description: Sort direction. Defaults to `asc`.
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: created_at_from
          in: query
          description: Filter customers created at or after this ISO 8601 datetime (e.g. 2024-01-01T00:00:00Z).
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_to
          in: query
          description: Filter customers created at or before this ISO 8601 datetime (e.g. 2024-12-31T23:59:59Z).
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: List of all customer records
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  meta:
                    $ref: '#/components/schemas/Meta'
                  status_counts:
                    allOf:
                      - $ref: '#/components/schemas/CustomerStatusCounts'
                    description: |
                      How many customers hold each unified status, across the
                      same filters (search, date, sub-client) but ignoring the
                      `status` selection itself, so the dashboard can render a
                      count per status chip while a status filter is active.
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    name: Acme Corp
                    email: contact@acmecorp.com
                    external_id: external_customer_123
                    customer_type: business
                    kyb_status: pending
                    kyc_status: pending
                    kyb_links:
                      - provider_id: trm_labs
                        link_type: persona
                        url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                        status: pending
                        created_at: 1234567890
                        updated_at: 1234567890
                        expires_at: 1234567890
                        deleted_at: 1234567890
                    provider_statuses:
                      - provider_id: trm_labs
                        status: approved
                        endorsements:
                          - string
                    application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    decision: approved
                    application_url: https://onboarding.example.com/applications/abc123?token=xyz789
                    created_at: 1234567890
                    updated_at: 1234567890
                    deleted_at: 1234567890
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/list-all-customer-records
  /customers/{customer_id}/sub-client:
    patch:
      tags:
        - Customers
      summary: Update sub-client association for a customer
      deprecated: true
      description: Deprecated and non-functional. The sub-client association is set only at customer creation and is immutable afterwards; this endpoint now rejects all requests with 400. Set `sub_client_id` on `POST /customers` instead.
      operationId: updateCustomerSubClient
      parameters:
        - name: customer_id
          in: path
          required: true
          description: Unique identifier (ksuid) of the customer record
          schema:
            $ref: '#/components/schemas/KSUID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerSubClientRequest'
            example:
              sub_client_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
      responses:
        '200':
          description: Sub-client association updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: John Doe
                customer_type: individual
                kyb_status: pending
                kyc_status: not_started
                is_sub_client: false
                sub_client_id: 2ABCrqBHb3cTfLVkFSGmHZqdXYZ
                sub_client_name: Partner Corp
                created_at: 1700000000
                updated_at: 1700000000
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: the sub-client association can only be set when a customer is created and cannot be changed afterwards
        '404':
          description: Customer not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: 'Customer not found: 1NFHrqBHb3cTfLVkFSGmHZqdDPi'
  /customers/{customer_id}:
    parameters:
      - name: customer_id
        in: path
        required: true
        description: Unique identifier (ksuid) of the customer record
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Customers
      summary: Retrieve a customer record by ID
      description: Retrieves a single customer by `customer_id` for the authenticated client.
      operationId: getCustomer
      responses:
        '200':
          description: Customer record retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corp
                email: contact@acmecorp.com
                external_id: external_customer_123
                customer_type: business
                kyb_status: pending
                kyc_status: pending
                kyb_links:
                  - provider_id: trm_labs
                    link_type: persona
                    url: https://verify.provider.com/kyb/a1b2c3d4e5f6
                    status: pending
                    created_at: 1234567890
                    updated_at: 1234567890
                    expires_at: 1234567890
                    deleted_at: 1234567890
                provider_statuses:
                  - provider_id: trm_labs
                    status: approved
                    endorsements:
                      - string
                application_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                decision: approved
                application_url: https://onboarding.example.com/applications/abc123?token=xyz789
                created_at: 1234567890
                updated_at: 1234567890
                deleted_at: 1234567890
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Customer not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Customer not found
                status: 404
                detail: Customer not found
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/retrieve-a-customer-record-by-id
    delete:
      tags:
        - Customers
      summary: Delete a customer record
      description: Soft-deletes a customer record. Blocked if the customer has any associated accounts or is referenced as a sub-client.
      operationId: deleteCustomer
      responses:
        '204':
          description: Customer deleted successfully.
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Customer not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Customer not found
                status: 404
                detail: Customer not found
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Customer Conflict
                status: 409
                detail: Customer cannot be deleted because it has associated accounts
                instance: https://api.platform.dakota.xyz/customers/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/customers/delete-a-customer-record
  /customers/{customer_id}/capabilities:
    parameters:
      - name: customer_id
        in: path
        required: true
        description: Unique identifier (ksuid) of the customer record
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Customers
      summary: List a customer's capabilities and what's needed to unlock them
      description: |
        Returns the customer's rails/capabilities (e.g. `international_wire`)
        and, per capability, the current status plus any OUTSTANDING
        requirements (terms to accept, documents to upload) needed to unlock it.

        This resource is intentionally partner-agnostic: it never exposes
        provider or partner identities — only capabilities and the opaque join
        keys (terms id / document type) required to satisfy each requirement.
      operationId: getCustomerCapabilities
      responses:
        '200':
          description: Capabilities retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCapabilities'
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Customer not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: Capability provider is not configured in this environment
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /customers/sub-client-summary:
    get:
      tags:
        - Customers
      summary: Get sub-client summary
      description: Returns a list of all sub-clients for the authenticated client, along with the count of customers associated with each.
      operationId: getSubClientSummary
      responses:
        '200':
          description: Sub-client summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubClientSummary'
              example:
                data:
                  - sub_client_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    sub_client_name: Partner Corp
                    customer_count: 15
  /customers/{customer_id}/re-engagement:
    parameters:
      - name: customer_id
        in: path
        required: true
        description: Unique identifier (ksuid) of the customer record
        schema:
          $ref: '#/components/schemas/KSUID'
    post:
      tags:
        - Customers
      summary: Mint a fresh application link for re-engaging an approved customer
      description: |
        Issues a fresh onboarding token for an existing **approved** customer's
        application and returns the rebuilt `application_url`. Use this to
        re-engage a dormant approved customer through the customer-online
        terms-acceptance flow (`POST /applications/{application_id}/attestations`)
        when the original onboarding token has expired.

        The new link carries the customer's existing approved application — it does
        **not** create a new application, re-run compliance review, or change the
        application's status or decision. It only rotates the onboarding token.

        Authorization is the standard client scope: the customer must belong to
        the calling client (an api key for that client, or a logged-in user of
        that client). Because the caller is already authenticated as the owner,
        re-minting a scoped token for their own application is seamless.
      operationId: reEngageCustomer
      responses:
        '200':
          description: A fresh application link was minted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerReEngagementResponse'
        '400':
          description: Invalid customer identifier
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Customer not found (or not owned by the calling client)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: |
            Customer has no approved application to re-engage.

            A customer whose application is still pending does not need
            re-engagement: reuse the `application_url` already returned by
            `GET /customers/{customer_id}`. That original link stays valid for
            90 days from creation.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /wallets:
    post:
      tags:
        - Wallets
      summary: Create a new wallet
      description: Creates a wallet under a customer and returns the wallet configuration used for custody and transaction flows.
      operationId: createWallet
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WalletCreateRequest'
            example:
              customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              signer_groups:
                - string
              policies:
                - string
              family: evm
              name: string
      responses:
        '201':
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                client_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                family: evm
                address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                name: My Wallet
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not Found
                status: 404
                detail: Not Found
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict - duplicate request detected
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Conflict - duplicate request detected
                status: 409
                detail: Conflict - duplicate request detected
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Service unavailable
                status: 503
                detail: Service unavailable
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/wallets
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/create-a-new-wallet
  /wallets/{wallet_id}:
    get:
      tags:
        - Wallets
      summary: Get a single wallet
      description: Returns a single wallet by id. The response includes `customer_name` and `created_at` joined server-side.
      operationId: getWallet
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: Wallet retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                client_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                customer_name: Acme Capital LP
                family: evm
                address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                name: My Wallet
                created_at: 1731556800
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Wallet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Wallet not found
                status: 404
                detail: Wallet not found
                instance: https://api.platform.dakota.xyz/wallets/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/get-a-wallet
  /wallets/{wallet_id}/policies:
    get:
      tags:
        - Wallets
      summary: Get policies attached to a wallet
      description: Returns slim references (id + name) for the policies currently attached to the specified wallet.
      operationId: getPoliciesForWallet
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: Attached policies retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttachedPolicy'
              example:
                - id: pol_2N4YkKpKu7M3mKpGYmF8kcJ8oZT
                  name: High Value Transaction Policy
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets/example-id/policies
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id/policies
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Wallet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Wallet not found
                status: 404
                detail: Wallet not found
                instance: https://api.platform.dakota.xyz/wallets/example-id/policies
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id/policies
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/get-policies-attached-to-a-wallet
  /wallets/{wallet_id}/balances:
    get:
      tags:
        - Wallets
      summary: Get wallet balances across all networks
      description: Returns current wallet balances grouped by asset and network for the specified wallet.
      operationId: getWalletBalances
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
      responses:
        '200':
          description: Wallet balances retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalances'
              example:
                wallet_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                address: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                balances:
                  - asset:
                      id: USDC
                      name: USD Coin
                      network_id: ethereum-mainnet
                      contract_address: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
                      token_standard: erc20
                      decimals: 6
                    amount_usd: '123.45'
                total_amount_usd: '1234.56'
        '400':
          description: Bad request - invalid wallet ID
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid wallet ID
                status: 400
                detail: Bad request - invalid wallet ID
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Wallet not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Wallet not found
                status: 404
                detail: Wallet not found
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id/balances
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/get-wallet-balances-across-all-networks
  /wallets/{wallet_id}/transactions:
    post:
      tags:
        - Wallets
      summary: Send a transaction from a wallet
      description: Creates a new outbound transaction from the specified wallet. Policy and signer checks may affect the resulting transaction state.
      operationId: createWalletTransaction
      parameters:
        - name: wallet_id
          in: path
          required: true
          description: Wallet ID
          schema:
            $ref: '#/components/schemas/KSUID'
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EndorsedRequest'
            example:
              signatures:
                - LS0tLS1CRUdJ...0tLS0tCg==
              intent:
                wallet_id: string
                caip2: string
                operation:
                  kind: string
                  from: string
                  to: string
                  amount: '100.50'
                  asset_id: USDC
                  method: string
                  args:
                    - string
                  data: string
                idempotency_key: string
      responses:
        '200':
          description: Transaction sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransaction'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                resource_type: wallet
                wallet_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                network_id: ethereum-mainnet
                from: '0x1234567890abcdef1234567890abcdef12345678'
                to: '0xabcdef1234567890abcdef1234567890abcdef12'
                transaction_hash: '0x165cd37b4c644c2921454429e7f9358d18a45e14'
                transaction_type: transfer
                amount: '100.56'
                asset: USD
                status: completed
        '400':
          description: Bad request - invalid input data
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Bad request - invalid input data
                status: 400
                detail: Bad request - invalid input data
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not Found
                status: 404
                detail: Not Found
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '409':
          description: Conflict - duplicate request detected
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#conflict
                title: Conflict - duplicate request detected
                status: 409
                detail: Conflict - duplicate request detected
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Internal server error
                status: 500
                detail: Internal server error
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Service unavailable
                status: 503
                detail: Service unavailable
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/wallets/example-id/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/wallets/send-a-transaction-from-a-wallet
  /transactions:
    post:
      tags:
        - Transactions
      summary: Create a one-off transfer
      description: |
        Create a one-off transfer. Supports both offramp (destination is a
        bank account, fiat_us or fiat_iban) and swap (destination is a crypto
        address) flows; the destination type selects which.
      operationId: createTransaction
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/SandboxScenarioHeader'
        - $ref: '#/components/parameters/SandboxErrorStepHeader'
        - $ref: '#/components/parameters/SandboxErrorStatusHeader'
        - $ref: '#/components/parameters/SandboxErrorMessageHeader'
        - $ref: '#/components/parameters/SandboxInstantCompletionHeader'
      requestBody:
        description: Transaction details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneOffTransactionRequest'
            example:
              transaction_type: one_off
              amount: '1.23'
              customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              source_network_id: ethereum-mainnet
              source_asset: USDC
              destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
              destination_network_id: ethereum-mainnet
              destination_asset: USD
              destination_payment_rail: ach
              payment_reference: Invoice payment for services
      responses:
        '201':
          description: One-off transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneOffTransaction'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                resource_type: one_off
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                send_amount: '1.24'
                status: pending
                amount: '1.23'
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                destination_asset: USD
                receipt:
                  imad: string
                  omad: string
                  input:
                    amount: string
                    asset: string
                    network: string
                  subtotal:
                    amount: string
                    asset: string
                    network: string
                  converted:
                    amount: string
                    asset: string
                    network: string
                  output:
                    amount: string
                    asset: string
                    network: string
                  exchange_rate: string
                  external_fee:
                    amount: string
                    asset: string
                    network: string
                  dakota_fee:
                    amount: string
                    asset: string
                    network: string
                  client_fee:
                    amount: string
                    asset: string
                    network: string
                  gas_fee:
                    amount: string
                    asset: string
                    network: string
                  payment_reference: Invoice payment for services
                crypto_details:
                  source_crypto_address: string
                  source_network_id: ethereum-mainnet
                  destination_crypto_address: string
                  destination_network_id: ethereum-mainnet
                  deposit_transaction_hash: string
                  transaction_hash: string
                created_at: 1234567890
                updated_at: 1234567890
                completed_at: 1234567890
                destination_payment_rail: ach
                payment_reference: string
                destination_bank_name: Chase Bank
                destination_account_holder_name: Acme Corporation
                destination_account_number_last_four: '6789'
                destination_routing_number: '021000021'
                destination_iban: GB82WEST12345698765432
                destination_bic: BARCGB22XXX
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: |
            Forbidden. Returned when the caller is not authorized for the
            operation, or when the transfer would send over a rail covered by
            an agreement the customer has not accepted (`terms_not_accepted`).
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              examples:
                forbidden:
                  summary: Caller is not authorized for this operation
                  value:
                    type: https://docs.dakota.xyz/api-reference/errors#forbidden
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: https://api.platform.dakota.xyz/transactions
                    request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
                terms_not_accepted:
                  summary: An updated agreement covering this rail is unaccepted
                  value:
                    type: https://docs.dakota.xyz/api-reference/errors#terms-not-accepted
                    title: Terms Not Accepted
                    status: 403
                    detail: An updated agreement must be accepted before this customer can use this capability.
                    instance: https://api.platform.dakota.xyz/transactions
                    request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
                    resolution_url: https://apply.dakota.com/applications/2WGC9cKv9P4K8eGzqY6qJ3Xz7Qm/accept-terms?token=kJ8xN3zQ9mL2pR5vY7wC1aF4dG6hK0sT8uW3nB5eM9
                    errors:
                      - field: dakota_tos
                        message: Dakota Terms of Service (2026-08-04)
                        code: terms_acceptance
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Resource not found
                status: 404
                detail: Resource not found
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '422':
          description: Unprocessable entity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#validation-error
                title: Unprocessable entity
                status: 422
                detail: Unprocessable entity
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '503':
          description: Service unavailable
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#eligibility-unavailable
                title: Service unavailable
                status: 503
                detail: Eligibility could not be evaluated. Retry shortly.
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/create-a-transaction
    get:
      tags:
        - Transactions
      summary: List transactions
      description: |-
        List transactions across the supported transaction resource families: `one_off`, `auto_account`, and `wallet`. Each returned row carries a `resource_type` discriminator, and a single response contains rows from exactly one family.

        **The response family is selected as follows.** Set `transaction_type` to choose the family explicitly. The `wallet` family is only reachable this way: `transaction_type=wallet`. The `wallet_id` and `direction` filters require `transaction_type=wallet`, and supplying either without it is rejected with `400`, not routed to the wallet family. The `auto_account` family requires `customer_id`: `transaction_type=auto_account` without a `customer_id` is rejected with `400`.

        If you omit `transaction_type`, the family is inferred from the other query parameters, between `one_off` and `auto_account` only:

        - `destination_id`, `status`, `source_network_id`, `source_asset`, or `destination_asset` present → `one_off`.
        - `customer_id` present (and none of the above) → `auto_account`.
        - none of the above (no filters) → `one_off`.

        **Because `customer_id` on its own selects the `auto_account` family,** `GET /transactions?customer_id=X` returns that customer's auto-account transactions, not their one-off transactions, even though an unfiltered `GET /transactions` returns one-off transactions. `meta.total_count` reflects only the selected family, so it is not a count across all of a customer's transactions. To list a customer's one-off transactions, send `transaction_type=one_off&customer_id=X`; to list their auto-account transactions explicitly, send `transaction_type=auto_account&customer_id=X`.

        The selected family is reported back on the response as `meta.transaction_type`, so an empty page still tells you which family was listed.

        Filters documented below as applying to "one-off transactions" only take effect within the `one_off` family; combine them with `transaction_type=one_off` to be explicit.
      operationId: listTransactions
      parameters:
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: transaction_type
          in: query
          description: Select the transaction resource family (`one_off`, `auto_account`, or `wallet`) to return. When omitted, the family is inferred from the other parameters (see the endpoint description).
          required: false
          schema:
            $ref: '#/components/schemas/TransactionResourceType'
        - name: customer_id
          in: query
          description: 'Filter transactions by customer ID, within the selected resource family. Note: when `transaction_type` is omitted, supplying `customer_id` alone selects the `auto_account` family, so the result is that customer''s auto-account transactions. To filter one-off transactions by customer, also send `transaction_type=one_off`.'
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: wallet_id
          in: query
          description: Filter wallet transactions by wallet ID. Only valid with `transaction_type=wallet`.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: direction
          in: query
          description: 'Filter wallet transactions by direction relative to the wallet: `out` matches transactions sent from the wallet; `in` matches transactions recorded with the wallet as the recipient. The platform records outbound wallet sends today, so `in` returns rows once inbound ingestion records deposits. Only valid with `transaction_type=wallet`.'
          required: false
          schema:
            type: string
            enum:
              - in
              - out
        - name: destination_id
          in: query
          description: Filter transactions by destination ID.
          required: false
          schema:
            $ref: '#/components/schemas/KSUID'
        - name: status
          in: query
          description: Filter one-off transactions by status.
          required: false
          schema:
            $ref: '#/components/schemas/OneOffTransactionStatus'
        - name: source_network_id
          in: query
          description: Filter one-off transactions by source network ID.
          required: false
          schema:
            $ref: '#/components/schemas/NetworkId'
        - name: source_asset
          in: query
          description: Filter one-off transactions by source asset.
          required: false
          schema:
            type: string
        - name: destination_asset
          in: query
          description: Filter one-off transactions by destination asset.
          required: false
          schema:
            type: string
        - name: sort_by
          in: query
          description: Field to sort one-off transactions by. Defaults to `created_at`.
          required: false
          schema:
            type: string
            enum:
              - amount
              - created_at
              - customer_name
              - status
        - name: sort_dir
          in: query
          description: Sort direction. Defaults to `desc`.
          required: false
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: created_at_from
          in: query
          description: Filter one-off transactions created at or after this ISO 8601 datetime (e.g. 2024-01-01T00:00:00Z).
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_to
          in: query
          description: Filter one-off transactions created at or before this ISO 8601 datetime (e.g. 2024-12-31T23:59:59Z).
          required: false
          schema:
            type: string
            format: date-time
        - name: amount_min
          in: query
          description: Filter one-off transactions by minimum destination amount (inclusive).
          required: false
          schema:
            type: string
        - name: amount_max
          in: query
          description: Filter one-off transactions by maximum destination amount (inclusive).
          required: false
          schema:
            type: string
        - name: search
          in: query
          description: Free-text search across customer name, customer email, and transaction ID.
          required: false
          schema:
            type: string
        - name: statuses
          in: query
          description: Comma-separated list of statuses to filter by (e.g. `pending,completed,failed`). Takes precedence over `status` when both are provided.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of transactions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTransactionResourceResponse'
              example:
                data:
                  - id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    resource_type: one_off
                    customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                    send_amount: '1.24'
                    status: pending
                    amount: '1.23'
                    source_network_id: ethereum-mainnet
                    source_asset: USDC
                    destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_asset: USD
                    receipt:
                      imad: string
                      omad: string
                      input:
                        amount: string
                        asset: string
                        network: string
                      subtotal:
                        amount: string
                        asset: string
                        network: string
                      converted:
                        amount: string
                        asset: string
                        network: string
                      output:
                        amount: string
                        asset: string
                        network: string
                      exchange_rate: string
                      external_fee:
                        amount: string
                        asset: string
                        network: string
                      dakota_fee:
                        amount: string
                        asset: string
                        network: string
                      client_fee:
                        amount: string
                        asset: string
                        network: string
                      gas_fee:
                        amount: string
                        asset: string
                        network: string
                      payment_reference: Invoice payment for services
                    crypto_details:
                      source_crypto_address: string
                      source_network_id: ethereum-mainnet
                      destination_crypto_address: string
                      destination_network_id: ethereum-mainnet
                      deposit_transaction_hash: string
                      transaction_hash: string
                    created_at: 1234567890
                    updated_at: 1234567890
                    completed_at: 1234567890
                    destination_payment_rail: ach
                    payment_reference: string
                    destination_bank_name: Chase Bank
                    destination_account_holder_name: Acme Corporation
                    destination_account_number_last_four: '6789'
                    destination_routing_number: '021000021'
                    destination_iban: GB82WEST12345698765432
                    destination_bic: BARCGB22XXX
                meta:
                  total_count: 100
                  has_more_after: true
                  has_more_before: false
                  transaction_type: one_off
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/list-transactions
  /transactions/{transaction_id}:
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the transaction.
        schema:
          $ref: '#/components/schemas/KSUID'
    get:
      tags:
        - Transactions
      summary: Get a transaction
      description: Retrieves a single transaction by `transaction_id`, including lifecycle status and provider metadata when available.
      operationId: getTransaction
      responses:
        '200':
          description: Transaction details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResource'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                resource_type: one_off
                customer_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                crypto_address: '0x1234567890abcdef1234567890abcdef12345678'
                send_amount: '1.24'
                status: pending
                amount: '1.23'
                source_network_id: ethereum-mainnet
                source_asset: USDC
                destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                destination_asset: USD
                receipt:
                  imad: string
                  omad: string
                  input:
                    amount: string
                    asset: string
                    network: string
                  subtotal:
                    amount: string
                    asset: string
                    network: string
                  converted:
                    amount: string
                    asset: string
                    network: string
                  output:
                    amount: string
                    asset: string
                    network: string
                  exchange_rate: string
                  external_fee:
                    amount: string
                    asset: string
                    network: string
                  dakota_fee:
                    amount: string
                    asset: string
                    network: string
                  client_fee:
                    amount: string
                    asset: string
                    network: string
                  gas_fee:
                    amount: string
                    asset: string
                    network: string
                  payment_reference: Invoice payment for services
                crypto_details:
                  source_crypto_address: string
                  source_network_id: ethereum-mainnet
                  destination_crypto_address: string
                  destination_network_id: ethereum-mainnet
                  deposit_transaction_hash: string
                  transaction_hash: string
                created_at: 1234567890
                updated_at: 1234567890
                completed_at: 1234567890
                destination_payment_rail: ach
                payment_reference: string
                destination_bank_name: Chase Bank
                destination_account_holder_name: Acme Corporation
                destination_account_number_last_four: '6789'
                destination_routing_number: '021000021'
                destination_iban: GB82WEST12345698765432
                destination_bic: BARCGB22XXX
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/get-a-transaction
  /transactions/{transaction_id}/cancellations:
    parameters:
      - name: transaction_id
        in: path
        required: true
        description: Unique identifier of the transaction.
        schema:
          $ref: '#/components/schemas/KSUID'
    post:
      tags:
        - Transactions
      summary: Cancel a transaction
      description: Create a cancellation event for a cancellable transaction.
      operationId: createTransactionCancellation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
        - $ref: '#/components/parameters/SandboxScenarioHeader'
        - $ref: '#/components/parameters/SandboxErrorStepHeader'
        - $ref: '#/components/parameters/SandboxErrorStatusHeader'
        - $ref: '#/components/parameters/SandboxErrorMessageHeader'
      responses:
        '204':
          description: Transaction cancelled successfully.
        '400':
          description: Invalid request or transaction cannot be cancelled.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request or transaction cannot be cancelled.
                status: 400
                detail: Invalid request or transaction cannot be cancelled.
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        default:
          description: Unexpected error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#internal-error
                title: Unexpected error
                status: 500
                detail: Unexpected error
                instance: https://api.platform.dakota.xyz/transactions/example-id/cancellations
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/transactions/cancel-a-transaction
  /recipients/{recipient_id}:
    parameters:
      - name: recipient_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/KSUID'
    put:
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      tags:
        - Recipients
      summary: Update a recipient
      description: Update a recipient's details
      operationId: updateRecipient
      requestBody:
        description: Updated recipient details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecipientRequest'
            example:
              name: Acme Corporation
              address:
                street1: 123 Main St
                street2: Apt 4B
                street3: Building C
                city: San Francisco
                region: California
                postal_code: '94105'
                country: US
      responses:
        '200':
          description: Recipient updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corporation
                address:
                  street1: 123 Main St
                  street2: Apt 4B
                  street3: Building C
                  city: San Francisco
                  region: California
                  postal_code: '94105'
                  country: US
                status: active
                destinations:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
        '400':
          description: Invalid request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#invalid-request
                title: Invalid request
                status: 400
                detail: Invalid request
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
        url: https://docs.dakota.xyz/api-reference/recipients/update-a-recipient
    get:
      tags:
        - Recipients
      summary: Get a specific recipient
      description: Get details for a specific recipient by ID
      operationId: getRecipient
      responses:
        '200':
          description: Recipient details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecipientResponse'
              example:
                id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                name: Acme Corporation
                address:
                  street1: 123 Main St
                  street2: Apt 4B
                  street3: Building C
                  city: San Francisco
                  region: California
                  postal_code: '94105'
                  country: US
                status: active
                destinations:
                  - destination_id: 1NFHrqBHb3cTfLVkFSGmHZqdDPi
                    destination_type: crypto
                    name: My Ethereum Wallet
                    crypto_address: '0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48'
                    family: evm
                    network_id: ethereum-mainnet
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#authentication-error
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#forbidden
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: https://docs.dakota.xyz/api-reference/errors#not-found
                title: Not found
                status: 404
                detail: Not found
                instance: https://api.platform.dakota.xyz/recipients/example-id
                request_id: req_01hzy6y7v8w9x0y1z2a3b4c5d6
      externalDocs:
        description: Read full guide in docs
[...]
